{% extends "layout.html.twig" %}
{% block body %}
<h3>Pour modifier votre réservation</h3>
    <div class="f-item one-half">
        {{ form(Form) }}

    </div>

    <article class="widget">
        <h4>Pour plus d'information</h4>
        <p ><strong>Mail : </strong>bonplan@gmail.com</p>
        <p ><strong>numero de téléphone : </strong> 28-823-951</p>
    </article>












{% endblock %}