{% extends 'Layout.html.twig' %}
{% block body  %}
    <table>
    <tr>
        <th>Commentaires</th>
        <td>{{ P.commentaireAvisH }}</td>
    </tr>
    <tr>
        <th>Note</th>
        <td>{{ P.NoteServiceH}}</td>
    </tr>
    </table>
{% endblock %}