{% extends "layout.html.twig" %}
{% block body %}
    <section class="Game_Section">

        <div class="container">
            <div class="page-header" align="center">
                <div class="welcome_title">
                    <h1 style="color: #e74c3c">Ajouter un Transport</h1>

                </div>
            </div>
            <div class="comment_form_area" align="center">
                <div class="row" align="center">
                    <form method="post" action="{{ path('TransportAjouter') }}" class="form_inner" enctype="multipart/form-data">
                        <div class="form-group col-md-4" align="center">
                            <select class="form-control" name="villeDepart" id="villeDepart" placeholder="villeDepart" required>
                                <option>Ariana</option>
                                <option>Béja</option>
                                <option>djerba</option>
                                <option>Bizerte</option>
                                <option>Gabes</option>
                                <option>Gafsa</option>
                                <option>Jendouba</option>
                                <option>Kairouan</option>
                                <option>Kasserine</option>
                                <option>Kebili</option>
                                <option>La Manouba</option>
                                <option>Le Kef</option>
                                <option>Mahdia</option>
                                <option>Médenine</option>
                                <option>Monastir</option>
                                <option>Nabeul</option>
                                <option>Sfax</option>
                                <option>Sidi Bouzid</option>
                                <option>Ain Draham</option>
                                <option>Sousse</option>
                                <option>Tataouine</option>
                                <option>Touzeur</option>
                                <option>Tunis</option>
                                <option>Zaghouan</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4" align="center">
                            <select class="form-control" name="villeArrive" id="villeArrive" placeholder="villeArrive" required>
                                <option>Ariana</option>
                                <option>Béja</option>
                                <option>djerba</option>
                                <option>Bizerte</option>
                                <option>Gabes</option>
                                <option>Gafsa</option>
                                <option>Jendouba</option>
                                <option>Kairouan</option>
                                <option>Kasserine</option>
                                <option>Kebili</option>
                                <option>La Manouba</option>
                                <option>Le Kef</option>
                                <option>Mahdia</option>
                                <option>Médenine</option>
                                <option>Monastir</option>
                                <option>Nabeul</option>
                                <option>Sfax</option>
                                <option>Sidi Bouzid</option>
                                <option>Ain Draham</option>
                                <option>Sousse</option>
                                <option>Tataouine</option>
                                <option>Touzeur</option>
                                <option>Tunis</option>
                                <option>Zaghouan</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4" align="center">
                            <input type="number" class="form-control" id="nbrPlaceDispo" name="nbrPlaceDispo"  max=5 min=1 placeholder="nbrPlaceDispo" required>
                        </div>
                        <div class="form-group col-md-4" align="center">
                            <input type="number" class="form-control" id="heureDepart" name="heureDepart" max=24  min=0 placeholder="heureDepart" required>
                        </div>
                        <div class="form-group col-md-4" align="center">
                            <input type="number" class="form-control" id="heureArrivee" name="heureArrivee" max=24 min=0 placeholder="heureArrivee" required>
                        </div>

                        <div class="form-group col-md-4" align="center">
                            <input type="text" class="form-control" name="prixPersonne" id="prixPersonne" placeholder="prixPersonne" required>
                        </div>
                        <div class="form-group col-md-4" align="center">
                            <input type="date" class="form-control" name="dateDepart" id="dateDepart" placeholder="dateDepart" required>
                        </div>




                        <div class="form-group col-md-7" align="center">
                            <button   type="submit" class="btn form-control login_btn">Ajouter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>



    <script language="javascript" src="{{ asset('js/jquery.js') }}">
        $(document).ready(function (){

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        $('#imagePreview').css('background-image', 'url('+e.target.result +')');
                        $('#imagePreview').hide();
                        $('#imagePreview').fadeIn(650);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#imageUpload").change(function() {
                readURL(this);
            });
        });
    </script>
    <style>
        .avatar-upload {
            position: relative;
            max-width: 205px;
            margin: 50px auto;
        }
        .avatar-upload .avatar-edit {
            position: absolute;
            right: 12px;
            z-index: 1;
            top: 10px;
        }
        .avatar-upload .avatar-edit input {
            display: none;
        }
        .avatar-upload .avatar-edit input + label {
            display: inline-block;
            width: 34px;
            height: 34px;
            margin-bottom: 0;
            border-radius: 100%;
            background: #ffffff;
            border: 1px solid transparent;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
            cursor: pointer;
            font-weight: normal;
            transition: all 0.2s ease-in-out;
        }
        .avatar-upload .avatar-edit input + label:hover {
            background: #f1f1f1;
            border-color: #d6d6d6;
        }
        .avatar-upload .avatar-edit input + label:after {
            content: "\f040";
            font-family: "FontAwesome";
            color: #757575;
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
            text-align: center;
            margin: auto;
        }
        .avatar-upload .avatar-preview {
            width: 192px;
            height: 192px;
            position: relative;
            border-radius: 100%;
            border: 6px solid #f8f8f8;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        }
        .avatar-upload .avatar-preview > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>

{% endblock %}
