{% extends "layout.html.twig" %}

{% block body %}


    <section class="Game_Section">

        <div class="container">
            <div class="page-header" align="center">
                <div class="welcome_title">
                    <h1 style="color: #e74c3c">Ajouter un restaurant </h1>

                </div>
            </div>
            <div class="comment_form_area" align="center">
                <div class="row" align="center">
                    <form method="post" action="{{ path('BpAjouter2') }}" class="form_inner" enctype="multipart/form-data">
                        <div class="form-group col-md-4" align="center">
                            <input type="text" class="form-control" name="nom" id="nom" placeholder="nom" required>
                        </div>
                        <div class="form-group col-md-4" align="center">
                            <input type="text" class="form-control" id="description" name="description" placeholder="description" required>
                        </div>
                        <div class="form-group col-md-4" align="center">
                            <input type="text" class="form-control" name="adresse" id="adresse" placeholder="adresse" required>
                        </div>
                        <div class="form-group col-md-4" align="center">
                            <select required  class="form-control form-control-lg"   title="ville" id="Ville" name="ville">
                                <option selected="selected" value="null" disabled >Sélectionner la ville</option>
                                <option value="Tunis">Tunis</option>
                                <option value="Nabeul">Nabeul</option>
                                <option value="Sousse">Sousse</option>
                                <option value="Gafsa">Gafsa</option>
                                <option value="Touzeur">Touzeur</option>


                            </select>
                        </div>
                        <div class="form-group col-md-4" align="center">
                            <input type="number" class="form-control" name="nbreplace" id="nbreplace" placeholder="nbreplace" required>
                        </div>

                        <div class="form-group col-md-12" align="center">

                            <div class="avatar-upload">
                                <div class="avatar-edit" align="center">
                                    <input type='file' name="photo" id="photo" accept=".png, .jpg, .jpeg" />
                                    <label for="photo"></label>
                                </div>
                                <div class="avatar-preview" align="center">
                                    <div id="imagePreview" style="background-image: url( {{asset('images/uploads/avatar.jpg')}});">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group col-md-7" align="center">
                            <button   type="submit" class="btn form-control login_btn">Ajouter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>



    <script language="javascript" src="{{ asset('js/jquery.js') }}">
        $(document).ready(function (){

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        $('#imagePreview').css('background-image', 'url('+e.target.result +')');
                        $('#imagePreview').hide();
                        $('#imagePreview').fadeIn(650);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#imageUpload").change(function() {
                readURL(this);

            });

        });

    </script>
    <style>
        .avatar-upload {
            position: relative;
            max-width: 205px;
            margin: 50px auto;
        }
        .avatar-upload .avatar-edit {
            position: absolute;
            right: 12px;
            z-index: 1;
            top: 10px;
        }
        .avatar-upload .avatar-edit input {
            display: none;
        }
        .avatar-upload .avatar-edit input + label {
            display: inline-block;
            width: 34px;
            height: 34px;
            margin-bottom: 0;
            border-radius: 100%;
            background: #ffffff;
            border: 1px solid transparent;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
            cursor: pointer;
            font-weight: normal;
            transition: all 0.2s ease-in-out;
        }
        .avatar-upload .avatar-edit input + label:hover {
            background: #f1f1f1;
            border-color: #d6d6d6;
        }
        .avatar-upload .avatar-edit input + label:after {
            content: "\f040";
            font-family: "FontAwesome";
            color: #757575;
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
            text-align: center;
            margin: auto;
        }
        .avatar-upload .avatar-preview {
            width: 192px;
            height: 192px;
            position: relative;
            border-radius: 100%;
            border: 6px solid #f8f8f8;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        }
        .avatar-upload .avatar-preview > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>

{% endblock %}
