{% extends "layout.html.twig" %}
{% block body %}
    <div class="three-fourth">
        <div class="static-content booking">
            <h3>Ajouter une reclamation</h3>



            {{ form(Form) }}

        </div>
    </div>

    <aside class="one-fourth right-sidebar">
        <article class="widget">
            <h4>Pour plus d'information</h4>
            <p ><strong>Mail : </strong>bonplan@gmail.com</p>
            <p ><strong>numero de téléphone : </strong> 28-823-951</p>
        </article>
    </aside>












{% endblock %}