{% extends "layout.html.twig" %}


{% block body %}
<form action="" method="post">
    Subject
    <input type="text" name="subject">
    Email
    <input type="email" name="mail">
    Text
    <textarea name="text"></textarea>
    <input type="submit" value="send">

</form>


{% endblock %}